body {
  width: 90%;
  padding: 20px; 
  background-color: rgba(254, 207, 98, 1);
}
p {
  font-family: 'Ravi Prakash', cursive;
  font-size: 30px; 
}
h1 {
  font-size: 70px; 
  font-family: 'Ravi Prakash', cursive;
}
h2 {
  font-size: 50px; 
  font-family: 'Ravi Prakash', cursive;
}